<h1>MeetingEntries#new</h1>
<p>Find me in app/views/meeting_entries/new.html.erb</p>

<%= link_to "利用規約", meeting_entries_agreement_path, target: :_blank %>

<br>
--------------------------------------------------------
<%= form_with(model: @meeting_entry, local: true) do |form| %>
  <% if @meeting_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting_entry.errors.count, "error") %> prohibited this meeting_entry from being saved:</h2>

      <ul>
      <% @meeting_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @meetings.each do |meeting|  %>
    <% if meeting.open%>
      <label><%= form.radio_button :meeting_id, meeting.id%><%= meeting.start_time.strftime("%Y年%-m月%-d日 %-H時%-M分")%></label>
    <% else %>
      <label><%= form.radio_button :meeting_id, meeting.id, :disabled => true%><del><%= meeting.start_time.strftime("%Y年%-m月%-d日 %-H時%-M分")%></del></label>
    <% end %>
    <br>
  <% end %>


  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :family_kana %>
    <%= form.text_field :family_kana %>
  </div>

  <div class="field">
    <%= form.label :first_kana %>
    <%= form.text_field :first_kana %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    <%= form.label :agreement %>
    <%= form.check_box :agreement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
